arize-phoenix==4.3.0
arize-phoenix-evals==0.12.0
chromadb==0.5.0
dspy-ai==2.4.9
fastembed==0.3.1
FlagEmbedding==1.2.10
gradio==4.22.0
ipykernel==6.29.0
ipywidgets==8.1.2
llama-index-callbacks-arize-phoenix==0.1.5
llama-index-core==0.10.43.post1
llama-index-embeddings-huggingface==0.2.2
llama-index-embeddings-openai==0.1.10
llama-index-embeddings-voyageai==0.1.4
llama-index-llms-openai==0.1.22
llama-index-readers-file==0.1.23
llama-index-vector-stores-chroma==0.1.9
llama-index-vector-stores-milvus==0.1.20
llama-index-vector-stores-qdrant==0.2.10
markdownify==0.12.1
matplotlib==3.8.4
numpy==1.26.4
openai==1.28.1
optuna==3.6.1
optuna-dashboard==0.15.1
pandas==2.2.2
pillow==10.3.0
playwright==1.45.0
plotly==5.22.0
plotly-express==0.4.1
python-dotenv==1.0.1
scikit-learn==1.4.2
scipy==1.13.0
transformers[torch]==4.39.1
tqdm==4.66.4
umap-learn==0.5.6
